[mysqld]
innodb_buffer_pool_size = 128M
innodb_log_buffer_size  = 4M
innodb_file_format      = Barracuda
innodb_file_per_table   = 1
innodb_io_capacity      = 400
innodb_open_files       = 400
innodb_flush_method     = O_DIRECT
