[client]
port                    = 3306
socket                  = /run/mysqld/mysqld.sock

[mariadb]
aria-encrypt-tables
encrypt-binlog
encrypt-tmp-disk-tables
encrypt-tmp-files
loose-innodb-encrypt-log
loose-innodb-encrypt-tables

[mariadbd]
skip-host-cache
skip-name-resolve

[mysqld]
skip-name-resolve
skip-log-bin

pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
port                    = 3306
basedir                 = /usr
datadir                 = /var/lib/mysql

connect_timeout         = 5
wait_timeout		    = 600
max_allowed_packet      = 16M

character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci

[mysqld_safe]
socket                  = /run/mysqld/mysqld.sock
nice = 0

!includedir /etc/mysql/conf.d/
